<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span> NEONESIA</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                        김인섭
                    </button>
                    <mat-menu #menu="matMenu">
                        <a mat-menu-item routerLinkActive="list-item-active" routerLink="/account">
                            <mat-icon>account_box</mat-icon>
                            Manage Account
                        </a>
                        <button mat-menu-item routerLinkActive="list-item-active" routerLink="/login">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar> 