.padding-10 {
    padding: 10px;
}

input {
    font-size: 18px;
}

.redDots {
    color: red;
}

.main-article {
    margin: 20px;
    min-width: 450px;
}

.main-article .title-section {
    padding-bottom: 15px;
    display: flex;
}

.main-article .title-section div:last-child {
    margin-left: auto;
}

.edit-container {
    box-shadow: 
    0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding: 20px;
}

.tab-section table {
    border-collapse: collapse;
    width: 100%;
}

.tab-section table th {
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    width: 20%;
    min-width: 140px;
}

.tab-section table td {
    padding: 1.34375em 10px 0 10px;
}

.tab-section table td mat-form-field {
    width: 100%;
}

.btn-section {
    display: flex;
}

.btn-section div {
    padding: 10px;
}

.btn-section div:last-child {
    margin-left: auto;
}

.btn-section div button {
    margin-right: 5px;
}

.btn-section div button:last-child {
    margin-right: 0;
}

.list-box {
    border: 1px solid #cccccc;
    height: 400px;
    overflow: auto;
}

.mat-table {
    width: 100%;
}

.mat-table th, .mat-table td {
    text-align: center;
}

.mat-table td button, .mat-table td a {
    margin-right: 5px;
}

.mat-table td button:last-child {
    margin: 0;
}

.empty-members-box {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 20px 0;
}