<article class="main-article">
    <section class="title-section">
        <div>
            <h2>Create role</h2>
        </div>
        <div></div>
    </section>

    <section class="edit-container">
        <mat-tab-group>
            <mat-tab label="Details">
                <section class="tab-section">
                    <form>
                        <table>
                            <tr>
                                <th>Role Name <span class="redDots">*</span></th>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <input matInput required [formControl]="roleName">
                                        <mat-error *ngIf="roleName.invalid">{{getErrorMessage_required(roleName)}}</mat-error>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>
                                    <mat-form-field appearance="fill">
                                        <textarea matInput required></textarea>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <mat-divider></mat-divider>
                            <section class="btn-section">
                                <div>
                                    <button mat-raised-button color="primary">
                                        Save
                                    </button>
                                    <button mat-raised-button color="warn">
                                        Cancel
                                    </button>
                                </div>
                            </section>
                        </div>
                    </form>
                </section>
            </mat-tab>
            <mat-tab label="Users in Role">
                <section>
                    <div class="empty-members-box">
                        No role member
                    </div>

                    <div>
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let users"> {{users.username}} </td>
                            </ng-container>

                            <ng-container matColumnDef="lastName">
                                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                <td mat-cell *matCellDef="let users"> {{users.lastName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef> First Name </th>
                                <td mat-cell *matCellDef="let users"> {{users.firstName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let users"> {{users.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="briefRepresentation">
                                <th mat-header-cell *matHeaderCellDef> Actions </th>
                                <td mat-cell *matCellDef="let users">
                                    <button mat-raised-button color="primary" routerLinkActive="list-item-active"
                                        routerLink="/users/edit">Edit</button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
                    </div>
                </section>
            </mat-tab>
        </mat-tab-group>
    </section>
</article>